# Class exercise 1: 
![](https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png)

The next cell should be a code cell that can take 2 floats from a user input and multiply them printing out the result.

In [3]:
number1 = input("write the first number")
number2 = input("write the second number")
float(number1) * float(number2)

write the first number1
write the second number2

2.0

In [5]:
number1 = float(input("write the first number"))
number2 = float(input("write the second number"))
number1 * number2

write the first number2
write the second number4

8.0

# Class exercise 2:

    1. Use the range() function to make a list of the odd numbers from 1 to 20. Hint in ipython and this notebooks you can see a functions help text by executing for example range?
    
    2. Create a list with the even number values from two to one million. Use min() and max() to make sure your list actually starts at two and ends at one million. Also, use the sum() function to compute the sum of all values. Time the execution time using %timeit.
    
    3.Create a list of the multiples of 3 - going from 3 to 300. HINT: USE A LIST COMPREHENSION
    
    4.A number raised to the third power is called a cube. For example, the cube of 2 is written as 2**3 in Python. Create a list of the first 10 cubes (that is, the cube of each integer from 1 through 10).


# Hand in Exercises

    1.Create 5 list comprehensions to solve the following 5 problems:
        A.Iterate a list of names to return a list of the names starting with H
        B.In one line create a list of the numbers 1-100 to the power of 3
        C.Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
        
        D.Iterate over each character in a string and get only those that are nummeric
        E.Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice

    2.Create 2 dictionary comprehensions to solve the following:
        Iterate a list of names and create a dictionary where key is the name and value is the length of the name
        Iterate a list of numbers and create a dictionary with (key, value) being (number, squareroot of number)

    Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

In [20]:
# opgave 1,A
hNames = ["Hans", "Peter", "Bob", "Simon", "Mads", "Hanne"]
new_hNames = [name for name in hNames if name[0] == "H"]
new_hNames

['Hans', 'Hanne']

In [21]:
# opgave 1,B
numbersList = [value**3 for value in range(1,100)]
numbersList

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299]

In [30]:
# opgave 1,C
tup = tuple([(len(name), name) for name in hNames])
tup

((4, 'Hans'),
 (5, 'Peter'),
 (3, 'Bob'),
 (5, 'Simon'),
 (4, 'Mads'),
 (5, 'Hanne'))

In [37]:
# opgave 1,D - Iterate over each character in a string and get only those that are nummeric
string = "a1b2c3d4"
newNumList = [i for i in string if i.isdigit()]
newNumList

['1', '2', '3', '4']

In [87]:
# opgave 1,E - Using only a list comprehension wrapped in set() get all possible combinations from throwing 2 dice

resultSet = {str(j) + " + " + str(i) for j in range(1,7) for i in range(1,7)}
resultSet

{'1 + 1',
 '1 + 2',
 '1 + 3',
 '1 + 4',
 '1 + 5',
 '1 + 6',
 '2 + 1',
 '2 + 2',
 '2 + 3',
 '2 + 4',
 '2 + 5',
 '2 + 6',
 '3 + 1',
 '3 + 2',
 '3 + 3',
 '3 + 4',
 '3 + 5',
 '3 + 6',
 '4 + 1',
 '4 + 2',
 '4 + 3',
 '4 + 4',
 '4 + 5',
 '4 + 6',
 '5 + 1',
 '5 + 2',
 '5 + 3',
 '5 + 4',
 '5 + 5',
 '5 + 6',
 '6 + 1',
 '6 + 2',
 '6 + 3',
 '6 + 4',
 '6 + 5',
 '6 + 6'}

# 2.Create 2 dictionary comprehensions to solve the following:

In [92]:
# opgave 2,A - Iterate a list of names and create a dictionary where key is the name and value is the length of the name
dictNames = {name:len(name) for name in hNames}
dictNames

{'Hans': 4, 'Peter': 5, 'Bob': 3, 'Simon': 5, 'Mads': 4, 'Hanne': 5}

In [101]:
# opgave 2,B - Iterate a list of numbers and create a dictionary with (key, value) being (number, squareroot of number)
import math
numbs = [1,49,64,81,100]
dictNumbs = {number: math.sqrt(number) for number in numbs}
dictNumbs

{1: 1.0, 49: 7.0, 64: 8.0, 81: 9.0, 100: 10.0}

In [114]:
# sidste opgave - Progammatically using loops create a small program to produce a dictionary 
# with all the 2 dice throw combinations as keys and their likelyhood in percent as values
sum = [j + i for j in range(1,7) for i in range(1,7)]

sumDict = {sumNumb: round((sum.count(sumNumb)*100/36),3) for sumNumb in sum}
sumDict

{2: 2.778,
 3: 5.556,
 4: 8.333,
 5: 11.111,
 6: 13.889,
 7: 16.667,
 8: 13.889,
 9: 11.111,
 10: 8.333,
 11: 5.556,
 12: 2.778}